.App {
  display: flex;
}

h3 {
  font-size: 30px;
  margin-top: 0;
}

.form-container {
  font-family: Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  width: 16rem;
  padding: 40px;
}

.style-guide-box {
  margin: 1rem;
  margin-top: 3rem;
  width: 65rem;
  height: 40rem;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-between;
}

.color-swatches {
  background-color: lightblue;
  margin: 10px;
  width: 15rem;
  height: 10rem;
  text-align: center;
  line-height: 9;
}
