:root {
  --color-swatch-1: rgb(33, 33, 220);
  --color-swatch-2: rgb(36, 36, 186);
  --color-swatch-3: rgb(76, 76, 210);
  --color-swatch-4: rgb(98, 92, 211);
  --header-1: Tahoma, sans-serif;
  --header-2: Tahoma, sans-serif;
  --body: Tahoma, sans-serif;
}

.App {
  display: flex;
}

h3 {
  font-size: 30px;
  margin-top: 0;
}

.search-box {
  font-family: Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  width: 16rem;
  padding: 40px;
}

.form-container {
  font-family: Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  width: 16rem;
  padding: 40px;
}

.style-guide-box-wrapper {
  padding: 40px;
  margin-top: 3rem;
  width: 55rem;
  border: 1px solid rgb(228, 228, 228);
  display: grid;
  grid-template-rows: auto;
}

.style-guide-box-colors {
  width: 55rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.style-guide-box-type {
  width: 60rem;
  display: grid;
  grid-template-rows: auto auto auto;
}

.card {
  box-shadow: inset 0px 0px 0px 1px rgb(228, 228, 228);
}

.color-swatch-1 {
  width: 214.418px;
  height: 144.013px;
  background-color: var(--color-swatch-1);
  text-align: center;
  line-height: 9;
}

.color-swatch-2 {
  width: 214.418px;
  height: 144.013px;
  background-color: var(--color-swatch-2);
  text-align: center;
  line-height: 9;
}

.color-swatch-3 {
  width: 214.418px;
  height: 144.013px;
  background-color: var(--color-swatch-3);
  text-align: center;
  line-height: 9;
}

.color-swatch-4 {
  width: 214.418px;
  height: 144.013px;
  background-color: var(--color-swatch-4);
  text-align: center;
  line-height: 9;
}

.hex-1 {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typography-1 {
  font-family: var(--header-1);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 5rem;
  text-align: start;
}

.typography-2 {
  font-family: var(--header-2);
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: start;
}

.typography-3 {
  font-family: var(--body);
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: start;
}
